body{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    margin-top: 25px;
}


#number-content{
    padding: 15px;
    margin: 2px;

    width: 196px;
    height: 55px;

    background-color: rgb(18, 18, 18);
    color: honeydew;
    font-size: 25pt;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px;
    border-radius: 0px;
}

.key{
    margin: 2px;

    width: 70px;
    height: 85px;

    background-color: rgb(18, 18, 18);
    color: honeydew;
    font-size: 25pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0px;
    border-radius: 0px;
}

.key:hover{
    background-color: rgb(23, 23, 23);
    cursor: pointer;
}

.key:focus {
    outline:0;
}

footer{
    margin-top: 25px;
    color: honeydew;
    font-size: 8pt;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}